@charset "UTF-8";

$color_1: white;
$background-color_1: #007cba;

.archive_list {
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;

    th {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: $background-color_1;
      color: $color_1;
    }

    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
  }
}


